.loader {
    height: 100%;
    width: 100%;
    background-color: rgba(black,0.5);


    display: flex;
    align-items: center;

    &__icon{
    border: 1rem solid #f3f3f3; /* Light grey */
    border-top: 1rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin 1s cubic-bezier(1,.01,.21,1.04) infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}