.card{
    font-size: 1rem;
    height: 13rem;
    width: 25rem;
    // border: 2px solid black;  
    border-radius: 3px;
    background-position: center;
    background-size:cover;
    transition: all .2s;
    overflow: hidden;

    &:hover{
        transform: scale(1.03);
    }
   

    &__content{
       height: 100%;
       width: 100%;
       top: -102.5%;
       padding:  0 1rem;
       
       

       
       

        & >* {
           padding-top: 0.3rem;
        }
    
        &__description{
            font-weight: 20;
        }
    
        &__references{
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
    
            &-item{
                padding: 0.3rem;
                display: flex;
                align-content: center;

                &-logo{
                    align-self: center;
                }

                &-text{
                    padding-left: 0.3rem;
                }

                &:last-child{
                    margin-left: 1rem;
                    
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgba(245, 245, 245, 0.694);
                    border-radius: 3px;
                }
               
            }
        }
    
        &__technologies{
            justify-content: center;
            display: flex;
            flex-direction: row;
    
            &-item{
                padding: 0.3rem;
                &:not(:first-child){
                    margin-left: 1rem;
                }

                
                
            }
        }
    }
}

.opacity{
    opacity: 0;
    
   

    &:hover{
        background-color: rgba($color: black, $alpha: 0.6);
        border-radius: 3px;
        height: 100%;
        width: 100%;
        opacity: 1;
       
        
    }
}

