.aiResult {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.7);
    transform: scale(0.3);
    transition: all .7s;
    z-index: 3;
    top: 0;
    left: 0;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    
    
    
    &__active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    
}